@import '../../styles/settings';

.container {
  display: flex;
  width: 100%;
  min-width: 100%;
  height: calc(100% - 66px);
  max-height: calc(100% - 66px);
  min-height: calc(100% - 66px);
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.searchBtn {
    width: 100px !important;
    border: none !important;
    height: 50px !important;
    border-radius: 5px !important;
    margin-left: 10px;
    background-color: $primary-color;
    color: $white !important;
}

.searchBtn:active {
    color: $white !important;
    background-color: rgba(132, 65, 390, 1);
}

.tileContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 25px;
}